button {
    background-color: #ffffff;
    border-style: none;
}


a {
    text-decoration: none;
}

#noticia {
    background-image: url(imgs/p-x-a.jpg);
    background-repeat: no-repeat;
    width: 600px;
    height: 460px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#texto {
    font: normal 16pt Arial;
    color: #ffffff;
    font-weight: 700;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #000;
    border-radius: 20px;
}
